.side-menu {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    background: #36AF8C;
	background: -webkit-linear-gradient(to bottom, #36AF8C, #38A2A9);
	background: linear-gradient(to bottom, #36AF8C, #38A2A9);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
    color: #FFFFFF;

    position: absolute;
    height: 100vh;
    width: 70%;
	z-index: 100;
}

@media only screen and (min-width: 890px) {
	.side-menu {
		width: 30%;
	}
}

@media only screen and (max-width: 490px) {
	.side-menu {
		width: 80%;
	}
}
