.messages__header {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messages__header-stats {
    display: flex;
    flex-direction: row;
}

.messages__header-name {
    font-size: 1.7rem;
    font-weight: 600;
}

.messages__header-stats--users,
.messages__header-stats--messages {
    font-size: 1.3rem;
    font-weight: 200;
    color: #757373;
}

.messages__header-stats--messages::before {
    content: "|";
    margin-right: 1rem;
}

.messages__header-stats--messages {
    margin-left: 1rem;
}