.messages__header {
    background-color: #eee;
    display: flex;
    padding: 10px 2.5rem;
}

.messages__header-info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.messages__header-info__stats {
    display: flex;
    flex-direction: row;
}

.messages__header-info__name{
    font-size: 1.7rem;
    font-weight: 600;
}

.messages__header-info__stats--users,
.messages__header-info__stats--messages,
.messages__header-info__stats--messages-dash,
.messages__header-info__stats--empty,
.messages__header-info__stats--messages-private {
    font-size: 1.3rem;
    font-weight: 200;
    color: #757373;
}

.messages__header-info__stats--messages::before {
    content: "|";
    margin-right: 1rem;
}

.messages__header-info__stats--messages {
    margin-left: 1rem;
}

.messages__header__search {
    flex: 0 0 30%;
}

.messages__header__search-form {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    height: 100%;
    text-align: center;
    position: relative;
}

.messages__header__search-form input {
    background: white;
}

input:active,
input:focus {
    outline: none;
}

.messages__header__search--btn {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    background: white;
}

.messages__header__search--image {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.messages__header__search--loader {
    position: absolute;
    top: -45px;
    right: 10px;
    height: 3rem;
    width: 3rem;

    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.messages__header__search--loader:before {
    width: 50%;
    height: 50%;
    background: #c3c3c3;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.messages__header__search--loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

#star {
    margin-left: 5px;
    font-size: 14px;
}

.star-filled {
    color: #f1d02a;
}

/* Menu */
.messages__header-menu {
    display: block;
    margin-right: 2.5rem;
    font-size: 3rem;
}

.messages__header-menu--hidden {
    display: none;
}

@media only screen and (max-width: 990px) {
	.messages__header-menu--hidden {
        display: block;
        margin-right: 2.5rem;
        font-size: 3rem;
	}
}