.reply__form {
    background-color: #eee;
    padding: 0 2rem;
    height: 100%;
}

.reply__form input {
    background: white;
}

input:active,
input:focus {
    outline: none;
}

.reply__label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    background-color: #eee;
    width: 100%;
    /* position: relative; */
}

.reply__attach {
    margin-right: 1rem;
    border: none;
    background: #eee;
}

.emoji__btn {
    margin-left: 1rem;
    border: none;
    background: #eee;
    outline: none;
}

.emoji__btn:active,
.reply__attach:active {
    outline: none;
}

.emoji__btn--submit-image,
.reply__attach-image {
    height: 2rem;
    width: 2rem;
}

.emoji-mart {
    position: absolute;
    bottom: 100%;
    right: 0%;
}

.reply__form-container {
    display: flex;
    padding: 2px 0;
    width: 100%;
    position: relative;

}
/* 
.reply__attach-container,
.reply__emoji-container {
    display: flex;
    align-items: center;
}

.reply__input-container {
    width: 100%;
    padding: 0 1rem;
} */