.reply__form {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    height: 100%;
    text-align: center;
}

.reply__form input {
    background: white;
}

input:active,
input:focus {
    outline: none;
}

.reply__label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    background-color: #eee;
    width: 100%;
}

.reply__attach {
    margin-right: 1rem;
    border: none;
    background: #eee;
}

.reply__btn {
    margin-left: 1rem;
    border: none;
    background: #eee;
}

.reply__btn--submit-image,
.reply__attach-image {
    height: 2rem;
    width: 2rem;
}