.message__row {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 20px;
}
  
.message__container {
    display: flex;
    flex: 0 0 70%;
}
  
.message__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0%;
}
  
.message--self .message__details-text, 
.message--self .message__details-info {
    align-self: flex-end;
}
  
.message--self{
    justify-content: flex-end;
    margin-right: 1rem;
}
  
.message--self .message__details-text {
    background: #36AF8C;
    color: white;
    border-radius: 14px 0 14px 14px;
}
  
.message--other .message__details-text {
    background: #eee;
    color: black;
    border-radius: 0 14px 14px 14px;
}
  
.message__image {
    min-width: 48px;
    margin-right: 10px;
}
  
.message__image img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}
  
.message__details-text{
    padding: 9px 14px;
    margin-top: 5px;
}

.message__details-info {
    display: flex;
    flex-direction: row;
}

.message__details-name {
    font-weight: 500;
}

.message__details-time {
    font-weight: 200;
    color: grey;
}

.info--self .message__details-time {
    margin-left: 15px;
}

.info--other .message__details-name {
    order: 2;
}

.info--other .message__details-time {
    margin-right: 15px;
    order: 1;
}

.message__details-image {
    display: flex;
    flex-direction: row;
}

.message__details-image img{
    width: 100%;
    max-width: 400px;
}

.image--self{
    margin-left: auto;
}

.image--other{
    margin-right: auto;
}