.container {
	background-color: #fff;
	position: relative;
	overflow: hidden;
	max-width: 100%;
    height: 100vh;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 5rem;
	height: 100%;
	text-align: center;
}

.form-container input {
    background-color: #eee;
	border: none;
	padding: 1.1rem 1.5rem;
	margin: .7rem 0;
	width: 100%;
}

.form-input {
	background-color: #eee;
	border: none;
	padding: 1.1rem 1.5rem;
	margin: .7rem 0;
	width: 70%;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: .7rem 0;
	width: 70%;
}

.form span {
	font-size: 1.2rem;
}

.social-container {
	margin: 2rem 0;
}

.social-container a {
    color: black;
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.sign-in-container {
	left: 50%;
	width: 50%;
	z-index: 2;
}

.sign-in-overlay-container {
	position: absolute;
	top: 0;
	right: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}

.link__password {
    color: #49a6d4;
    margin: 2rem 0;
}

button {
	border-radius: 20px;
	border: 1px solid #38AB96;
	background-color: #38AB96;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 1.2rem 4.5rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:hover {
    color: #08826c;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.btn__auth {
	background-color: transparent;
    border-color: #FFFFFF;    
}

.btn__auth a {
    color: #FFFFFF;
}

.btn__auth a:hover {
    color: #08826c;
}

.form__error {
	color: #f9656b;
}

.error {
	border: 1px solid #f9656b !important;
}

.overlay {
	background: #36AF8C;
	background: -webkit-linear-gradient(to right, #36AF8C, #38A2A9);
	background: linear-gradient(to right, #36AF8C, #38A2A9);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 4rem;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}
